#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# make it work on gcc-15  (fix ftbfs - bug #1097393)
CFLAGS+=--std=gnu17

%:
	dh $@

export CPPFLAGS =						\
	-DMHASH_ROBUST						\
	$(shell dpkg-buildflags --get CPPFLAGS)

override_dh_auto_configure:
	dh_auto_configure -- --enable-pkgconfig

override_dh_installchangelogs:
	dh_installchangelogs NEWS
